# This is an env example where all the environmental variables used are to be listed as a reference here

# current environment (dev/prod)
NODE_ENV=development

# API port to be used
PORT=3000

# mongoDB connection string
MONGO_STRING=